.page-header {
  background-image: url("./../../component/footer/footer.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 128px 0 24px;
  text-align: center;
  position: relative;
  margin-bottom: 32px;
}
.page-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-image: linear-gradient(0deg, #0f0f0f, transparent);
}
.page-header h2 {
  z-index: 1;
  position: relative;
}
.container-search {
  padding: 0 42px;
}
.search {
  padding-left: 18px;
  position: relative;
  margin-bottom: 40px;
}
.search input {
  padding: 8px 24px;
  width: 500px;
  border-radius: 32px;
  border: 1px solid transparent;
  background-color: #000;
  color: #dadada;
  letter-spacing: 1px;
  font-size: 15px;
  position: relative;
}
.search-btn {
  background-color: red;
  color: #fff;
  padding: 8px 20px;
  border-radius: 32px;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  border: none;
  box-shadow: 0 0 7px 8px rgb(255 0 0 / 30%);
  transition: box-shadow 0.3s ease;
  position: absolute;
  left: 32%;
}
.search-btn:hover {
  cursor: pointer;
  box-shadow: 0 0 7px 8px rgba(255, 0, 0, 0.478);
}
.movie-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.item-movie {
  margin-right: 16px;
  width: 18%;
  height: 100%;
  position: relative;
  border-radius: 30px;
  cursor: grab;
  margin-bottom: 32px;
}
.item-movie img {
  border-radius: 30px;
}
.item-movie .watch-btn {
  position: absolute;
  top: 50%;
  left: 50%;
}
.item-movie a:hover img {
  opacity: 0.5;
  transition: 0.3s ease;
}
.item-movie a:hover .watch-btn {
  transform: translate(-50%, -50%) scale(1);
  z-index: 1;
}
.watch-btn {
  border: 4px solid transparent;
  background-color: red;
  color: #fff;
  border-radius: 30px;
  padding: 8px 24px;
  font-size: 12px;
  font-weight: 600;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.watch-btn i:hover {
  color: #fff;
}
.watch-btn:hover {
  box-shadow: 0 0 7px 8px rgba(255, 0, 0, 0.30196078431372547);
  cursor: pointer;
}
.item-movie h3 {
  padding-top: 12px;
  letter-spacing: 1px;
}
.item-movie a:hover .name-item {
  color: red;
  transition: 0.3s ease;
}
.load-btn {
  text-align: center;
}
.section-btn .hide-btn {
  display: none;
}
.section-btn.hide .show-btn {
  display: none;
}
.section-btn.hide .hide-btn {
  display: block;
}
